* {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    font-size: 30px;
    font-weight: bolder;
}

body {
    background-color: #f3f3f3;
}

.line-separator {
    border-top: 1px solid #d1d1d1;
    margin: 1em 0 0.5em 0;
    margin-top: 0;
    width: 100%;
}

button {
    padding: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: 1px solid #d1d1d1;
    cursor: pointer;
}

button:hover {
    opacity: 100%;
}