h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

a {
    font-size: 25px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 350px;
    padding: 45px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 15px white;
    margin: 170px;
    background-color: #ffffff;
}

.login-btn {
    margin-top: 20px;
    padding: 12px;
    background: linear-gradient(180deg, #2a2a2a 0%, #1f1f1f 100%);
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.9;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0 6px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #d1d1d1;
    font-size: 14px;
}

.line-separator {
    border-top: 1px solid black;
    margin: 1em 0 0.5em 0;
    margin-top: 0;
}

.invalid-text {
    font-size: 13px;
    font-weight: 50px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    text-align: center;
    color: #d32f2f;
    font-size: 13px;
    margin-top: 10px;
    display: block;
    min-height: 16px;

}

.register-text {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 14px;
    margin-top: 0px;
    white-space: nowrap;
    color: #2a2a2a;
}

.register-para {
    text-align: center;
    margin-top: 0px;
}

a {
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 768px) {

    form.login-box {
        width: 90%;
        padding: 24px;
        margin: 0;
    }

    h1 {
        font-size: 36px;
    }

    label {
        font-size: 14px;
    }

    input {
        padding: 10px;
        font-size: 14px;
    }

    .login-btn {
        font-size: 16px;
        padding: 10px;
    }

    a {
        font-size: 14px;
    }
}